/* Variables */
:root{
	--color-green: #19ae23;
	--color-blue: #183241;
	--color-white: rgb(243, 241, 241);
	--color-dark: #333;
}

body{
	font-family: "Arial";
	color: var(--color-dark);
	background-color: var(--color-white);
	margin: 0;
	padding: 0;
	font-size: 16px;
	text-align: center;
}

.container{
	width: 70%;
	text-align: left;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: inherit;
}

/* ------------------- Header ---------------- */
.cabecero{
	background-color: var(--color-blue);
	color: var(--color-white);
	padding: 0.5em 0;
}

.cabecero .container{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cabecero .brand{
	display: flex;
	align-items: center;
}

.cabecero .brand h1{
	margin: 0 10px;
}

.cabecero .brand .brand-icon{
	height: 8vh;
}

.cabecero .brand img{
	max-height: 100%;
}

.cabecero .header-nav{
	flex-grow: 1;
}

.cabecero .header-nav ul{
	display: flex;
	list-style: none;
	justify-content: flex-end;
}

.cabecero .header-nav li{
	margin-left: 20px;	
}

.cabecero .header-nav a{
	color: inherit;
	text-decoration: none;
}


.post {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid var(--color-blue);
	border-radius: 0.5em;
}

.post h1{
	font-size: 20px;
}

.post-seeMore-link{
	text-align: right;
	margin-bottom: 0;
	font-size: 14px;
}

.post-seeMore-link a{
	color: var(--color-green);
	text-decoration: none;
	display: inline-block;
	margin-right: 3em;
	font-weight: bold;
}

.post-seeMore-link a:hover{
	text-decoration: underline;
}

/* ----------------- Footer ------------------- */
#footer{
	background-color: var(--color-blue);
	color: var(--color-white);
	padding: 0.75em;
}
#footer .container{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#footer .container nav ul{
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	padding: 0;
}
#footer .container nav li{
	margin-left: 10px;
}
#footer .container nav a:hover{
	text-decoration: underline;
}